# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas de dependencias
node_modules/
.npm

# Archivos de logs
*.log
npm-debug.log*

# Archivos temporales
*.tmp
*.temp

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de deployment
.env
.env.local
.env.production

# Cache
.cache/